In [9]:
import pandas as pd

#load the dataset, csv coming rrom my github repo.
dataset = pd.read_csv('https://raw.githubusercontent.com/austiine04/SYD_DAT_4/master/labs/Week%202/chicagohouseprices2.csv')

In [14]:
# dataset.head()
dataset = dataset.loc[:, ~dataset.columns.str.contains('^Unnamed')]
dataset.head()

,Address,Neighborhood,HouseType,Price,Bath,CrimeIndex,MinutesToLoop,MilesToLake,Age,LotSizeSqft,HouseSizeSqft,SchoolIndex,EstimatedPrice
0,"2111 W Division St #5, Chicago IL",Wicker Park,Condo,390000,NaN,2.59,9,3.91,0,0,0,36.2,335790.0
1,"1520 W Walton St #2, Chicago IL",Wicker Park,Condo,320500,NaN,4.10,7,3.02,0,0,0,91.7,376908.0
2,"2047 W Thomas St, Chicago IL",Wicker Park,Multi-Family Home,620000,4.0,2.09,9,3.84,94,3049,3492,36.2,629300.0
3,"1735 N Paulina St #314, Chicago IL",Wicker Park,Condo,318000,NaN,2.40,9,2.90,0,0,0,50.0,297330.0
4,"1634 W Beach Ave, Chicago IL",Wicker Park,Multi-Family Home,477000,2.0,4.63,9,2.96,31,2614,1840,78.9,463644.0

In [15]:
# our dataset does not have a number of bedrooms column, so we add a bed room column, 
# and we assign a random number(from 1 - 5) of bedrooms to each house 

import numpy as np
dataset['Bedrooms'] = np.random.randint(1,5, size=len(dataset))

In [18]:
# verify that we now a column for bedrooms
# dataset.head(10)

In [19]:
# lets use a smaller subset of features for the start
features_of_interest = ['HouseSizeSqft', 'Price', 'Bath', 'Bedrooms']
houses = dataset[features_of_interest]
houses.head()

   HouseSizeSqft   Price  Bath  Bedrooms
0              0  390000   NaN         2
1              0  320500   NaN         2
2           3492  620000   4.0         2
3              0  318000   NaN         2
4           1840  477000   2.0         2

In [20]:
# add default values for Bath
houses['Bath'].fillna(1, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [6]:
# add default values for HouseSizeSqft
houses.head()

   HouseSizeSqft   Price  Bath  Bedrooms
0              0  390000   1.0         2
1              0  320500   1.0         1
2           3492  620000   4.0         1
3              0  318000   1.0         4
4           1840  477000   2.0         3

In [24]:
# set default square fit to 500 incase a record has 0
houses = houses.replace({'HouseSizeSqft': {0: 500}})

In [10]:
# we could use other strategies to achiehve the above step for example mean of HouseSizeSqft or the mode

In [28]:
# split dataset into training and test set
from sklearn.model_selection import train_test_split

features = ['HouseSizeSqft', 'Bath', 'Bedrooms']
X = houses[features]
y = houses['Price']

In [29]:
# splits dataset such that 25% is the test set and 75% is the training set
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [30]:
# fit a linear regression model
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [31]:
# predict the price of one house

X_test.loc[0]

HouseSizeSqft    500.0
Bath               1.0
Bedrooms           2.0
Name: 0, dtype: float64

In [46]:
prices = model.score(X, y)

In [47]:
print(prices)

0.202131371163