In [1]:
import pandas as pd

#load the dataset, csv coming rrom my github repo.
dataset = pd.read_csv('https://raw.githubusercontent.com/austiine04/SYD_DAT_4/master/labs/Week%202/chicagohouseprices2.csv')

In [2]:
# our dataset does not have a number of bedrooms column, so we add a bed room column, 
# and we assign a random number(from 1 - 5) of bedrooms to each house 

import numpy as np
dataset['Bedrooms'] = np.random.randint(1,5, size=len(dataset))

In [3]:
# verify that we now a column for bedrooms
# house_dataset.head(10)

In [4]:
# lets use a smaller subset of features for the start
features_of_interest = ['HouseSizeSqft', 'Price', 'Bath', 'Bedrooms']
houses = dataset[features_of_interest]
houses.head()

   HouseSizeSqft   Price  Bath  Bedrooms
0              0  390000   NaN         2
1              0  320500   NaN         1
2           3492  620000   4.0         1
3              0  318000   NaN         4
4           1840  477000   2.0         3

In [5]:
# add default values for Bath
houses['Bath'].fillna(1, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [6]:
# add default values for HouseSizeSqft
houses.head()

   HouseSizeSqft   Price  Bath  Bedrooms
0              0  390000   1.0         2
1              0  320500   1.0         1
2           3492  620000   4.0         1
3              0  318000   1.0         4
4           1840  477000   2.0         3

In [9]:
# set default square fit to 500 incase a record has 0
houses = houses.replace({'HouseSizeSqft': {0: 500}})

In [10]:
# we could use other strategies to achiehve the above step for example mean of HouseSizeSqft or the mode

In [19]:
# split dataset into training and test set
from sklearn.model_selection import train_test_split

features = ['HouseSizeSqft', 'Bath', 'Bedrooms']
X = houses[features]
y = houses['Price']

# splits dataset such that 25% is the test set and 75% is the training set
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
# fit a linear regression model
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [29]:
# predict the price of one house

model.predict(X_test.loc[0])

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 390584.25652749])